@import url('https://fonts.googleapis.com/css?family=Quicksand:700');

.Button {
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  background: black;
  border-radius: 4px;
  display: inline-block;
}

.button--success {
  background: rgb(100, 208, 0);
}

.button--warning {
  background: orange;
}

.button--error {
  background: red;
}

.button--small {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.button--large {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}

.Button > a {
  text-decoration: none;
  color: inherit;
  font-family: 'Quicksand', sans-serif;
  display: block;
  padding: 0 10px 0 10px;
}

.Button:hover {
  cursor:pointer;
 }