@import url('https://fonts.googleapis.com/css?family=Quicksand:700');

.Button {
  height: 50px;
  width: 150px;
  background: rgb(48, 73, 87);
  text-align: center;
  line-height: 50px;
  color: white;
}

.Button > a {
  text-decoration: none;
  color: inherit;
  font-family: 'Quicksand', sans-serif;
}